* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: max-content;
  min-width: min-content;
}

:root {
  --main-header-color: yellow;
  --secundary-header-color: gold;
}

/* IDs */
#body-container {
  position: static;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Header */
#header-container {
  position: fixed;
  height: 5rem;
  width: 100%;
  display: block;
  box-sizing: border-box;
  flex: 0 1 auto;
  background-color: var(--main-header-color);
  border-bottom: 1px solid var(--secundary-header-color);
  z-index: 1000;
}

#global-header {
  position: inherit;
  left: 0;
  top: 0;
  height: 3rem;
  width: inherit;
  display: inherit;
  box-sizing: inherit;
  margin: 1rem 0rem;
  background-color: green;
}

#global-header:first-child {
  padding: 0rem 1rem;
  display: inline-flex;
}

#global-header-container {
  height: max-content;
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-self: center;
  background-color: red;
}

#global-header-start,
#global-header-center,
#global-header-end {
  min-height: 100%;
  min-width: 200px;
  max-width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;
}

/* Logo */
#global-header-start {
  justify-self: flex-start;
}

#logo-container {
  margin: 0;
  padding: 0;
}

#logo-container a {
  text-decoration: none;
}

#logo-icon img[alt="Bananza"] {
  float: left;
  bottom: 0;
  left: 2rem;
  position: absolute;
  height: 52px;
  width: 52px;
  display: block;
}

#logo-icon h2 {
  padding-left: 0.5rem;
  color: black;
}

/* Searchbar */
#global-header-center {
  justify-self: center;
}

#search-container input[type="text"] {
  height: 4ch;
  width: 40ch;
  padding: 0.25rem 0.6rem;
  font-size: 16px;
  border: 1px solid var(--secundary-header-color);
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

#search-container button {
  height: 4ch;
  width: 5ch;
  float: right;
  padding: 4px 8px;
  background: #ddd;
  font-size: 16px;
  border: 1px solid var(--secundary-header-color);
  border-left: none;
  cursor: pointer;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}

#search-container button:hover {
  background: #ccc;
}

/* Log In / Account */
#global-header-end {
  justify-self: flex-end;
}

#account-container button {
  display: inline-block;
  padding: 0.4em 0.6em;
  margin: 0rem 0.2rem;
  background: #ddd;
  font-size: 0.9rem;
  font-weight: bold;
  border: none;
  border-radius: 1em;
  cursor: pointer;
}

#account-container button:hover {
  background: #ccc;
}

/* Content */
#content-container {
  position: inherit;
  height: calc(100% - 5rem);
  width: 100%;
  display: block;
  box-sizing: border-box;
  flex: 1 1 auto;
}

#sidebar {
  float: left;
  position: fixed;
  min-height: 100%;
  width: 200px;
  background-color: red;
}

#sidebar-container {
  padding-top: 5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
